<div class="modal fade" id="modalNotesForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-top mt-0" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="form34" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form34">Your name</label>
        </div>
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="form29" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Your email</label>
        </div>
        <div class="md-form mb-5">
          <i class="fa fa-tag prefix grey-text"></i>
          <input type="text" id="form32" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form32">Subject</label>
        </div>
        <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
          <label data-error="wrong" data-success="right" for="form8">Your message</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar">
  <a class="navbar-brand" href="#"><i class="fa fa-newspaper-o mr-1" aria-hidden="true"></i><strong>Saved Articles</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navbar-list">
      <li class="nav-item" id="home">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="saved">
        <a class="nav-link" href="#">Saved Articles</a>
      </li>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid h-50 z-depth-4">
  <div class="container mt-5">
    <h1 class="h1-reponsive mb-4 white-text text-center font-bold">Saved Articles</h1>
    <p class="lead white-text text-center">Your Saved Articles</p>
  </div>
</div>

{{#if headlines}}
<div class="container-fluid">
  {{#each headlines}}
  <div class="row headline mt-3 z-depth-4 rounded">
    <div class="col-md-12">
      <div class="card" data-id={{_id}}>
        <div class="card-header primary-color">
          <h3>
            <a class="hl-link align-middle white-text" target=_blank href={{link}}>{{title}}</a>
            <a class="hl-delete btn btn-danger float-right" href="#">DELETE FROM SAVED</a>
            <a class="hl-notes btn btn-secondary float-right" href="#">ARTICLE NOTES</a>
          </h3>
        </div>
        <div class="card-body">
          <p class="card-text">{{byline}}</p>
          <p class="card-text">{{summary}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
